{% extends 'newsblock/base.html' %}

{% block content %}

<br>
<h1>НОВОСТНАЯ страница</h1>

<ul>
{% for p in posts %}
    <li>
        <div>
            <p>Категория: {{p.news_categories_id}}</p>
            <p>Дата: {{p.time_created|date:"d-m-Y H:i:s"}}</p>
        </div>
{% if p.photo %}
    <p><img src="{{p.photo.url}}"></p>
{% endif %}
        <h2>{{p.title}}</h2>
        {{p.content|truncatewords:100}}
        <p ><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        <hr>
    </li>
{% endfor %}
</ul>
{% endblock %}