{% extends 'newsblock/base.html' %}

{% block content %}
<div>
<h1>Новости</h1>
<ul class="list-articles">
{% for p in posts %}
    <li  class="article-panel">
        <div>
            <h2>{{p.title}}</h2>
            <p>Категория: {{p.news_categories_id}} </p>
            <p>Дата: {{p.time_created|date:"d-m-Y H:i:s"}}</p>
        </div>
{% if p.photo %}
<!--    <p><img src="{{p.photo.url}}"></p>-->
{% endif %}
        {{p.content|truncatewords:100}}
        <p ><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        <hr>
    </li>
{% endfor %}
</ul>
</div>
{% endblock %}