{% extends 'newsblock/base.html' %}

{% block content %}

<br>
<h1>Страница ОДНОЙ НОВОСТИ</h1>
<div>
    <p>Категория: {{post.news_categories_id}}</p>
    <p>Дата: {{post.time_created|date:"d-m-Y H:i:s"}}</p>
</div>
{% if post.photo %}
    <p><img src="{{p.photo.url}}"></p>
{% endif %}
    <h2>{{post.title}}</h2>
    {{post.content}}

<h2>Комментарии</h2>
Всего комментариев: {{comments.count}}

{% if user.is_authenticated %}
<div>
<p>Добавить комментарий</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Оставить комментарий</button>
</form>
</div>
{% endif %}

<div>
{% for c in comments %}
    <h3>{{c.user_id}} - {{c.time_created}}</h3>
    {{c.content}}
{% endfor %}
</div>

{% endblock %}
