{% extends 'newsblock/base.html' %} {% block content %}

<br />
<h1>Страница РАСПИСАНИЯ</h1>

<div class="card bg-secondary">
  <div class="col-md-4"></div>
</div>

<ul>
  {% for g in games %}
  <li>
    <h2>Игра от {{g.date_start}}</h2>
    <p>
      Играют в {{g.discipline_id}} {% if g.tournament_id %} в рамках турнира
      {{g.tournament_id}}
    </p>
    {% endif %} {% if g.is_finished == 1 %}
    <p>Игра окончена! Победитель - {{g.winner_id}}</p>
    {% else %}
    <p>Игра не окончена.</p>
    {% endif %} Играют команды: {{ g.get_team1 }}, {{ g.get_team2 }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
