{% extends 'newsblock/base.html' %} {% block content %}

<br />
<div class="container bg-dark text-light">
  <h1>Расписания матчей</h1>
  <div class="card bg-secondary" style="height: 100px">
    <div class="row g-0">
      <div class="col-md-4 row">
        <div class="col-4 d-flex align-items-center">
          <p>Команда А</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;" alt="Avatar" />
        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 row ">
        <div class="col-4">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;" alt="Avatar" />
        </div>
        <div class="col-4 d-flex align-items-center">
          <p>Команда А</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ul>
  {% for g in games %}
  <li>
    <h2>Игра от {{g.date_start}}</h2>
    <p>
      Играют в {{g.discipline_id}} {% if g.tournament_id %} в рамках турнира
      {{g.tournament_id}}
    </p>
    {% endif %} {% if g.is_finished == 1 %}
    <p>Игра окончена! Победитель - {{g.winner_id}}</p>
    {% else %}
    <p>Игра не окончена.</p>
    {% endif %} Играют команды: {{ g.get_team1 }}, {{ g.get_team2 }}
  </li>
  {% endfor %}
</ul>

{% endblock %}
